**.o
01/bags
01/sets
02/atoms
02/strings
03/infix
03/postfix
03/value
04/circles
04/points
05/value
06/any
06/circles
06/points
07/Circle.c
07/Circle.h
07/Circle.r
07/List.c
07/List.h
07/List.r
07/Object.c
07/Object.h
07/Object.r
07/Point.c
07/Point.h
07/Point.r
07/Queue.c
07/Queue.h
07/Queue.r
07/Stack.c
07/Stack.h
07/Stack.r
07/circles
07/points
07/queues
07/stacks
08/Circle.c
08/Circle.h
08/Circle.r
08/List.c
08/List.h
08/List.r
08/Object.c
08/Object.h
08/Object.r
08/Point.c
08/Point.h
08/Point.r
08/circles
08/lists
09/Circle.c
09/Circle.h
09/Circle.r
09/List.c
09/List.h
09/List.r
09/Object.c
09/Object.h
09/Object.r
09/Point.c
09/Point.h
09/Point.r
09/circles
09/lists
10/Cmd.c
10/Cmd.h
10/Cmd.r
10/Filter.c
10/Filter.h
10/Filter.r
10/List.c
10/List.h
10/List.r
10/Object.c
10/Object.h
10/Object.r
10/Sort.c
10/Sort.h
10/Sort.r
10/String.c
10/String.h
10/String.r
10/Wc.c
10/Wc.h
10/Wc.r
10/cmd
10/sort
10/wc
11/Node.c
11/Node.h
11/Node.r
11/Object.c
11/Object.h
11/Object.r
11/Symbol.c
11/Symbol.h
11/Symbol.r
11/Symtab.c
11/Symtab.h
11/Symtab.r
11/value
12/Node.c
12/Node.h
12/Node.r
12/Object.c
12/Object.h
12/Object.r
12/Symbol.c
12/Symbol.h
12/Symbol.r
12/Symtab.c
12/Symtab.h
12/Symtab.r
12/classes.c
12/value
13/Exception.c
13/Exception.h
13/Exception.r
13/List.c
13/List.h
13/List.r
13/Node.c
13/Node.h
13/Node.r
13/Object.c
13/Object.h
13/Object.r
13/Symbol.c
13/Symbol.h
13/Symbol.r
13/Symtab.c
13/Symtab.h
13/Symtab.r
13/classes.c
13/except
13/value
14/Crt.c
14/Crt.h
14/Crt.r
14/Ic.c
14/Ic.h
14/Ic.r
14/List.c
14/List.h
14/List.r
14/Objct.c
14/Objct.h
14/Objct.r
14/Xt.c
14/Xt.h
14/Xt.r
14/button
14/cbutton
14/crun
14/hello
14/lib.a
14/run
14/xbutton
14/xhello
14/xrun
